<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>Please Log in </p>
<button type="button" class="btn btn-primary" id="loginBtn">Login</button>
<button type="button" class="btn btn-primary" id="registerBtn">Register</button>